<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd">
	
		<!-- 配置数据源 -->
	<!-- 导入资源文件
	<context:property-placeholder location="classpath:db_local.properties"/>
	-->
	<import resource="applicationContext_DB.xml"/>
	<!-- -->
    <import resource="StcDictionary.xml"/>
    <import resource="AirportDictionary.xml"/>
     <!-- -->
    <import resource="hu-dubbo.xml"/>
     <bean id="requestSchedule" class="com.tsystems.si.aviation.imf.messageHandle.hu.request.schedule.RequestSchedule" init-method="initRequest">            
           <property name="scheduleStartDateTime" value ="1,5,0,0" /> 
            <property name="scheduleEndDateTime" value ="2,5,0,0" /> 
            <property name="focFltInfoApi" ref ="focFltInfoApi" /> 
    </bean>

    <bean id="huScheduleHandle" class="com.tsystems.si.aviation.imf.messageHandle.handles.hu.HuHandle" init-method="initHandle">            
            <property name="handleName" value ="huScheduleHandle" /> 
            <property name="handleMode" value ="PRD" /> 
    </bean>
     <bean id="requestScheduleMessageOperator" class="com.tsystems.si.aviation.imf.messageHandle.hu.request.schedule.RequestScheduleMessageOperator">            
     </bean>

     <bean id="requestScheduleForComFlightOperator" class="com.tsystems.si.aviation.imf.messageHandle.hu.request.schedule.RequestScheduleForComFlightOperator">            
     </bean>
 <task:scheduled-tasks>
<task:scheduled ref="requestSchedule" method="requestForCompare" fixed-delay="10000" initial-delay="15000"/>
</task:scheduled-tasks>
    
</beans>
